.idea/*
accounts/.gitattributes
cards/.gitattributes
loans/.gitattributes
loans/.mvn/wrapper/maven-wrapper.properties
accounts/target/surefire-reports/2025-05-26T21-15-15_808.dumpstream
accounts/accounts.iml
cards/cards.iml
cards/target/surefire-reports/2025-05-26T21-14-17_065.dumpstream
easy-bank-app.iml
loans/loans.iml
loans/target/surefire-reports/2025-05-26T21-14-17_065.dumpstream
accounts/target/accounts-0.0.1-SNAPSHOT.jar
accounts/target/accounts-0.0.1-SNAPSHOT.jar.original
accounts/target/classes/application.yml
accounts/target/classes/com/easybank/accounts/AccountsApplication.class
accounts/target/classes/com/easybank/accounts/controller/CustomerAccountsController.class
accounts/target/classes/com/easybank/accounts/dto/AccountsDto.class
accounts/target/classes/com/easybank/accounts/dto/CustomerDto.class
accounts/target/classes/com/easybank/accounts/entity/Accounts.class
accounts/target/classes/com/easybank/accounts/entity/Customer.class
accounts/target/classes/com/easybank/accounts/mapper/AccountsMapper.class
accounts/target/classes/com/easybank/accounts/mapper/CustomerMapper.class
accounts/target/classes/com/easybank/accounts/repository/AccountsRepository.class
accounts/target/classes/com/easybank/accounts/repository/CustomerRepository.class
accounts/target/classes/com/easybank/accounts/service/CustomerAccountService.class
accounts/target/classes/schema.sql
accounts/target/maven-archiver/pom.properties
accounts/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
accounts/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
accounts/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
accounts/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
accounts/target/surefire-reports/2025-05-27T15-50-54_574.dumpstream
accounts/target/surefire-reports/com.easybank.accounts.AccountsApplicationTests.txt
accounts/target/surefire-reports/TEST-com.easybank.accounts.AccountsApplicationTests.xml
accounts/target/test-classes/com/easybank/accounts/AccountsApplicationTests.class
accounts/.dockerignore
cards/target/cards-0.0.1-SNAPSHOT.jar
cards/target/cards-0.0.1-SNAPSHOT.jar.original
cards/target/classes/application.yml
cards/target/classes/com/easybank/cards/CardsApplication.class
cards/target/classes/com/easybank/cards/controller/CardsController.class
cards/target/classes/com/easybank/cards/dto/CardsDto.class
cards/target/classes/com/easybank/cards/entity/Cards.class
cards/target/classes/com/easybank/cards/mapper/CardsMapper.class
cards/target/classes/com/easybank/cards/repository/CardsRepository.class
cards/target/classes/com/easybank/cards/service/CardsService.class
cards/target/classes/schema.sql
cards/target/maven-archiver/pom.properties
cards/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
cards/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
cards/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
cards/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
cards/target/surefire-reports/2025-05-27T16-16-36_926.dumpstream
cards/target/surefire-reports/com.easybank.cards.CardsApplicationTests.txt
cards/target/surefire-reports/TEST-com.easybank.cards.CardsApplicationTests.xml
cards/target/test-classes/com/easybank/cards/CardsApplicationTests.class
loans/target/loans-0.0.1-SNAPSHOT.jar
loans/target/loans-0.0.1-SNAPSHOT.jar.original
loans/target/maven-archiver/pom.properties
loans/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
loans/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
loans/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
loans/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
loans/target/surefire-reports/2025-05-27T16-16-47_144.dumpstream
loans/target/surefire-reports/com.easybank.loans.LoansApplicationTests.txt
loans/target/surefire-reports/TEST-com.easybank.loans.LoansApplicationTests.xml
loans/target/test-classes/com/easybank/loans/LoansApplicationTests.class
loans/target/classes/application.yml
loans/target/classes/com/easybank/loans/controller/LoansController.class
loans/target/classes/com/easybank/loans/dto/LoansDto.class
loans/target/classes/com/easybank/loans/entity/Loans.class
loans/target/classes/com/easybank/loans/LoansApplication.class
loans/target/classes/com/easybank/loans/mapper/LoansMapper.class
loans/target/classes/com/easybank/loans/repository/LoansRepository.class
loans/target/classes/com/easybank/loans/service/LoansService.class
loans/target/classes/schema.sql
